@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #FAFAFA;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pokedex{
    width: 22rem;
    height: 35rem;
    background-color: rgb(116,203,72);
    border-radius: 8px;
    padding: 0.3rem 
}

#top{
    height: 40%;
    padding: 0.5rem;
    background: url('../img/pokeball.png');
    background-repeat: no-repeat;
    background-position: right;
}

#top-bar{
    display: flex;
    justify-content: space-between;
    color: white;
}

#search{
    color: white;
    background:none;
    border: none;
}

#search:focus{
    outline: none;
}

#data{
    background-color: white;
    height: 60%;
    border-radius: 8px;
}