body {
    background-color: #FAFAFA;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pokedex{
    width: 22rem;
    height: 35rem;
    background-color: rgb(116,203,72);
    border-radius: 8px;
}

#top{
    height: 40%;
}

#data{
    background-color: white;
    height: 60%;

}